@import url("reuse.css");
.welcome {
    margin-top: 100px;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    display: flex;
    justify-content: center;
}
.welcome__title {
    font-size: 100px;
    text-align: center;
    position: relative;
    display: inline-block;
    font-family: franklin;
}
.welcome__text {
    position: absolute;
    top: 50%;
    right: 0;
}
.aquarium {
    font-size: 40px
}
.clickformore {
    font-size: 28px;
    font-family: myriad-regular;
    text-decoration: underline;
}