@import url("reuse.css");
.login__container {
    margin-top: 100px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.login__title {
    margin-bottom: 20px;
    font-size: 40px;
}
.login__title, .login__row > label {
    color: #fff;
}
.login__row {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.login__row > label {
    font-size: 20px;
    display: inline-block;
    width: 100px;
}
.login__row > input {
    width: 400px;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px 10px;
    border-radius: 12px;
    color: #fff;
    font-size: 20px;
}